<section class="hero">

    <div class="left-hero">
        <div class="left-hero-info">
            <h2>Senior Software Developer</h2>
            <p>Katampe, Abuja</p>
        </div>
    </div>

    <div class="right-hero">

        <div class="job-heading">
            <div class="job-title">
                <h2>Senior Software Developer</h2>
                <p>LurisByteRM . 55 applicants . <span>15 hours ago</span></p>
            </div>

            <p class="duration"><img src="Clock.svg" alt=""> Full-time</p>

            <form action="joblisting4.html">
                <button type="submit">Apply Now</button>
            </form>
        </div>

        <div class="job-description">
            <h3>Job Description</h3>
            <p>We are looking for an entry-level senior software developer to join our team. As the software developer
                you will play an important role. You will create the application interface that will be used by millions
                of legal professionals.</p>
        </div>

        <div class="job-requirements">
            <h3>Requirements</h3>
            <ol>
                <li>4+ years experience as a software developer</li>
                <li>High sense of aesthetics.</li>
                <li>Analytical thinking and business values.</li>
                <li>Fluent with Agile methodology</li>
                <li>Proficient in Python, Node JS, Ruby On Rails, Erlange, GoLang.</li>
            </ol>
        </div>

    </div>
</section>