.hero {
  padding: 40px 100px;
  padding-bottom: 157px;
  padding-right: 125px;
  display: flex;
  column-gap: 38px;
  align-items: center;
}

.left-hero {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.left-hero h1 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #36143a;
}

.left-hero p {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #666666;
}

.left-hero .reference {
  margin-top: 12.75px;
  font-family: 'Sen';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #535252;
}

.left-hero button {
  padding: 10.6265px 26.5663px;
  background: #111324;
  border-radius: 3.54218px;
  color: white;
  width: fit-content;
  margin-top: 3px;
}

.right-hero img {
  height: 500px;
  width: 564.84px;
}

@media (max-width: 1300px) {
  .hero {
    padding: 40px 50px;
    padding-bottom: 157px;
    padding-right: 75px;
  }

  .left-hero h1 {
    font-size: 47px;
    line-height: 46px;
  }

  .left-hero p {
    font-size: 16px;
  }

  .right-hero img {
    width: 464.84px;
  }
}

@media (max-width: 1000px) {
  .left-hero h1 {
    line-height: 50px;
    font-size: 45px;
  }

  .right-hero img {
    width: 380px;
  }
}

@media (max-width: 950px) {
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 60px 50px;
    padding-bottom: 100px;
  }

  .left-hero {
    align-items: center;
  }

  .right-hero img {
    width: 80%;
    margin-top: 20px;
  }
}

@media (max-width: 750px) {
  .hero {
    padding: 60px 30px;
    padding-bottom: 100px;
  }

  .left-hero {
    row-gap: 10px;
  }

  .left-hero h1 {
    font-size: 40px;
    line-height: 45px;
  }

  .left-hero p {
    line-height: 25px;
    margin-bottom: 20px;
  }

  .right-hero img {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .hero {
    padding: 40px 20px;
    padding-bottom: 80px;
  }

  .left-hero h1 {
    line-height: 40px;
    font-size: 35px;
  }

  .left-hero p {
    font-size: 15px;
  }

  .right-hero img {
    height: fit-content;
    margin-top: 50px;
  }
}

@media (max-width: 370px) {
  .left-hero h1 {
    font-size: 30px;
  }

  .left-hero p {
    font-size: 14px;
    line-height: 20px;
  }
}
