<div class="container wrapper">
    <div class="row">
        
        <div class="col-lg-4 order-1">
            <form action="">
            <h5 class="">Add your company's information</h5>
            <div class="mb-3 mt-5">
                <label for="cname" class="form-label">Job Title <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="cname" placeholder="Enter Job Title">
            </div>
            <div class="mb-3">
                <label for="enumber" class="form-label">Where would you like to advertise this job? <span class="text-danger">*</span></label>
                <select type="text" class="form-select text-muted" id="enumber">
                    <option value=""  selected>Select Location</option>
                    <option>Facebook</option>
                    <option>LinkedIn</option>
                    <option>Twitter</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="enumber" class="form-label">What is the employment type? <span
                        class="text-danger">*</span></label>
                <select type="text" class="form-select text-muted" id="enumber">
                    <option value="" selected>Select Employment Type</option>
                    <option>First</option>
                    <option>Second</option>
                    <option>Third</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label required">Job Description and Requirements <span class="text-danger">*</span></label>
                <textarea type="text" id="name" class="form-control" placeholder="Enter Job Description and Requirements" rows="6 "></textarea>
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label required">Start Date <span class="text-danger">*</span></label>
                <div class="input-group">
                    <span class="input-group-text text-muted bg-transparent" id="phone"></span>
                    <input type="text" id="name" class="form-control" placeholder="91345680">
                </div>
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label required">End Date <span class="text-danger">*</span></label>
                <div class="input-group">
                    <span class="input-group-text text-muted bg-transparent" id="phone">+234</span>
                    <input type="text" id="name" class="form-control" placeholder="91345680">
                </div>
            </div>
            <div>
                <button class="btn">Apply Now</button>
            </div>
</form>
        </div>
      
        <div class="col-lg-8 order-2 d-flex align-items-end">
            <img src="/assets/img/meeting.svg" alt="" class="img-fluid">
        </div>
    </div>
</div>