<form action="joblisting2.html">
    <div class="input-wrapper">
        <p>Job Title</p>
        <input type="text" name="" id="" placeholder="Enter Job Title">
    </div>
    <div class="input-wrapper">
        <p>Company Name</p>
        <input type="text" name="" id="" placeholder="Enter Company Name">
    </div>
    <div class="input-wrapper">
        <p>Location</p>
        <input type="text" name="" id="" placeholder="Enter Location">
    </div>
    <div class="input-wrapper dropdown">
        <p>Employment Type</p>
        <input type="text" name="" id="" placeholder="Select Employment Type">
        <img src="Stylesheet/images/drop down.svg" alt="" onclick="cardToggle()">
        <div class="employment-type-card" id="employment-type-card" style="display: none;">
            <p>Full-time</p>
            <p>Part-time</p>
            <p>Contract</p>
        </div>
    </div>
    <div class="input-wrapper">
        <p>Date Posted</p>
        <input type="text" name="" id="" placeholder="dd/mmm/yy">
        <img src="Stylesheet/images/fluent_calendar-ltr-24-regular.svg" alt="">
    </div>
    <div class="button-wrap">
        <button type="submit"><img src="Stylesheet/images/Search.svg" alt=""> Search</button>
    </div>
</form>

<section class="recommended-wrapper">

    <div class="left-wrapper">
        <div class="recommendations">
            <h2>Recommend for you</h2>
            <p>Here are the newest job listings in your area.</p>
        </div>
    </div>

    <div class="right-wrapper">
        <div class="recommendations-card">
            <div class="heading">
                <div class="title">
                    <a href="">
                        <h3>Business Analyst</h3>
                    </a>
                    <p>Lagos</p>
                </div>
                <div class="description">
                    <p>We are looking for an entry-level to join our team.</p>
                </div>
            </div>
            <p class="duration"><img src="Clock.svg" alt="clock"> Full-time</p>
        </div>
        <div class="recommendations-card">
            <div class="heading">
                <div class="title">
                    <a href="">
                        <h3>Quality Assurance Analyst</h3>
                    </a>
                    <p>Lagos</p>
                </div>
                <div class="description">
                    <p>We are looking for an entry-level quality assurance to join our team.</p>
                </div>
            </div>
            <p class="duration"><img src="Clock.svg" alt="clock"> Part-time</p>
        </div>
        <div class="recommendations-card">
            <div class="heading">
                <div class="title">
                    <a href="">
                        <h3>Business Analyst</h3>
                    </a>
                    <p>Lagos</p>
                </div>
                <div class="description">
                    <p>We are looking for an entry-level to join our team.</p>
                </div>
            </div>
            <p class="duration"><img src="Clock.svg" alt="clock"> Full-time</p>
        </div>
        <div class="recommendations-card">
            <div class="heading">
                <div class="title">
                    <a href="">
                        <h3>Quality Assurance Analyst</h3>
                    </a>
                    <p>Lagos</p>
                </div>
                <div class="description">
                    <p>We are looking for an entry-level quality assurance to join our team.</p>
                </div>
            </div>
            <p class="duration"><img src="Clock.svg" alt="clock"> Part-time</p>
        </div>
    </div>
</section>