<app-form-search></app-form-search>

<section class="recommended-wrapper">

    <div class="left-wrapper">
        <div class="recommendations">
            <h2>Recommend for you</h2>
            <p>Here are the newest job listings in your area.</p>
        </div>
    </div>

    <div class="right-wrapper">
        <div class="recommendations-card">
            <div class="heading">
                <div class="title">
                    <a [routerLink]="'/select-job'">
                        <h3>Business Analyst</h3>
                    </a>
                    <p>Lagos</p>
                </div>
                <div class="description">
                    <p>We are looking for an entry-level to join our team.</p>
                </div>
            </div>
            <p class="duration"><img src="Clock.svg" alt="clock"> Full-time</p>
        </div>
        <div class="recommendations-card">
            <div class="heading">
                <div class="title">
                    <a href="">
                        <h3>Quality Assurance Analyst</h3>
                    </a>
                    <p>Lagos</p>
                </div>
                <div class="description">
                    <p>We are looking for an entry-level quality assurance to join our team.</p>
                </div>
            </div>
            <p class="duration"><img src="Clock.svg" alt="clock"> Part-time</p>
        </div>
        <div class="recommendations-card">
            <div class="heading">
                <div class="title">
                    <a href="">
                        <h3>Business Analyst</h3>
                    </a>
                    <p>Lagos</p>
                </div>
                <div class="description">
                    <p>We are looking for an entry-level to join our team.</p>
                </div>
            </div>
            <p class="duration"><img src="Clock.svg" alt="clock"> Full-time</p>
        </div>
        <div class="recommendations-card">
            <div class="heading">
                <div class="title">
                    <a href="">
                        <h3>Quality Assurance Analyst</h3>
                    </a>
                    <p>Lagos</p>
                </div>
                <div class="description">
                    <p>We are looking for an entry-level quality assurance to join our team.</p>
                </div>
            </div>
            <p class="duration"><img src="Clock.svg" alt="clock"> Part-time</p>
        </div>
    </div>
</section>