
.recommended-wrapper {
    display: flex;
    column-gap: 101px;
    padding: 51px 145px;
    padding-bottom: 96px;
    justify-content: space-between;
}

.recommendations {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.recommendations h2 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #36143A;

}

.recommendations p {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #666666;
}

.left-wrapper .recommendations {
    position: sticky;
    top: 40px;
}

.right-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 51px;
}

.recommendations-card {
    width: 771px;
    height: 150px;
    border: 1px solid rgba(150, 160, 170, 0.5);
    border-radius: 4px;
    padding: 32px 22px 23px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recommendations-card .heading {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.recommendations-card .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recommendations-card .title a {
    text-decoration: none;
}

.recommendations-card .title h3 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #1E1E1E;
    text-decoration: none;

}

.recommendations-card .title p {
    background: rgba(226, 226, 226, 0.6);
    border-radius: 20px;
    padding: 5px 19px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #666666;
}

.recommendations-card .description p {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #666666;
}

.recommendations-card .duration {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #666666;
    display: flex;
    align-items: center;
    column-gap: 7.43px;
}

.recommendations-card .duration img {
    width: 17.14px;
    height: 17.14px;
}

@media(max-width: 1300px) {
    form {
        margin: 0px 50px;
    }

    .recommended-wrapper {
        padding: 51px 50px;
        column-gap: 5%;
    }

    .input-wrapper {
        width: 31.3%;
    }

    form .button-wrap {
        width: 31.3%;
    }

    .left-wrapper {
        width: 30%;
    }

    .right-wrapper {
        width: 65%;
    }

    .recommendations-card {
        width: 100%;
    }
}

@media(max-width: 1000px) {
    .recommended-wrapper {
        flex-direction: column;
        row-gap: 30px;
    }

    .left-wrapper {
        position: static;
        width: 100%;
    }

    .right-wrapper {
        width: 100%;
    }
}

@media(max-width: 800px) {
    .input-wrapper {
        width: 48%;
    }

    .button-wrap {
        width: 48%;
    }
}

@media(max-width: 750px) {
    form {
        margin: 0px 30px;
    }

    .recommended-wrapper {
        padding: 51px 30px;
    }
}

@media(max-width: 500px) {
    form {
        margin: 0px 20px;
        padding-top: 40px;
    }

    form button {
        width: 100%;
    }

    .recommended-wrapper {
        padding: 51px 20px;
    }

    .input-wrapper {
        width: 100%;
    }

    form .button-wrap {
        width: 100%;
    }

    .button-wrap button {
        width: 100%;
    }

    .recommendations-card {
        padding: 27px 17px 18px 15px;
        height: fit-content;
    }

    .recommendations-card .duration {
        margin-top: 15px;
    }

    .recommendations-card .title {
        flex-wrap: wrap;
        row-gap: 5px;
    }
}