form {
    margin: 0px 145px;
    padding: 81px 0px;
    padding-bottom: 103px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 42px;
    column-gap: 3%;
    justify-content: space-between;
    border-bottom: 1px solid rgba(150, 160, 170, 0.5);
    position: relative;
}

form input {
    height: 36px;
    padding: 8px 10px;
    background: #FEFEFE;
    border: 0.890265px solid rgba(150, 160, 170, 0.5);
    border-radius: 3.56106px;
}

form input::placeholder {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: rgba(100, 110, 120, 0.33);
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    position: relative;
    width: 28%;
}

.input-wrapper:nth-child(4) img {
    top: 37px;
}

.employment-type-card {
    width: 248px;
    height: 131px;
    background: #FFFFFF;
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 20px;
    position: absolute;
    top: 65px;
    left: 100px;
    display: none;
    z-index: 10;
}

.employment-type-card .show {
    display: flex;
}

.employment-type-card p {
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 21px !important;
    color: #646E78 !important;

}

.employment-type-card p:hover {
    cursor: pointer;
}


.input-wrapper img {
    position: absolute;
    right: 10.5px;
    top: 30.5px;
}

.input-wrapper img:hover {
    cursor: pointer;
}

.input-wrapper p {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1E1E1E;
}

form .button-wrap {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    width: 28%;
    height: 60px;
}

form button {
    width: 108px;
    height: 36px;
    background: #111324;
    border-radius: 3.16842px;
    color: white;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #E8F0FE;
    display: flex;
    column-gap: 6.26px;
    align-items: center;
    justify-content: center;
}

form button:hover {
    cursor: pointer;
}