<div class="container wrapper">
<div class="row">
<div class="col-lg-4 order-1">
<h5 class="">Add  your company's information</h5>
<div class="mb-3 mt-5">
    <label for="cname" class="form-label">Company's Name</label>
    <input type="text" class="form-control" id="cname" placeholder="Enter Company's Name">
</div>
<div class="mb-3">
    <label for="enumber" class="form-label">Your company's number of employees</label>
    <select type="text" class="form-select" id="enumber">
      <option value="" selected>Select Employee Number</option>
      <option>Less than 10</option>
      <option>Greater than 10</option>
      <option>Greater than 50</option>
    </select>
</div>
<div class="mb-3">
    <label for="name" class="form-label required">Your first and last name</label>
    <input type="text" id="name" class="form-control" placeholder="Enter First and Last Name">
</div>
<div class="mb-3">
    <label for="phone" class="form-label required">Your phone number</label>
    <div class="input-group">    
        <span class="input-group-text text-muted bg-transparent" id="phone">+234</span>
        <input type="text" id="name" class="form-control" placeholder="91345680">
    </div>
</div>
<div>
    <button class="btn">Apply Now</button>
</div>

</div>
<div class="col-lg-8 order-2 d-flex align-items-end">
<img src="/assets/img/meeting.svg" alt="" class="img-fluid">
</div>
</div>
</div>